<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Quizzes')"></head>
<body>
<div th:replace="layout :: nav('quiz')"></div>
<div class="container sticky-top bg-white">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-secondary" href="/">Home</a></li>
            <li class="breadcrumb-item active">Quizzes</li>
        </ol>
    </nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="/quizzes" class="nav-link active">All Quizzes</a>
        </li>
        <li class="nav-item">
            <a href="/my-quizzes" class="nav-link">My Quizzes</a>
        </li>
    </ul>
</div>
<main role="main">
    <div class="container overflow-hidden">
        <div class="card mb-2" th:each="quiz : ${quizzes}">
            <div class="card-body">
                <h5 class="card-title" th:text="${quiz.name}"></h5>
                <p class="card-text" th:text="${quiz.description}"></p>
            </div>
            <div class="card-footer">
                <a th:href="'/quiz/present/' + ${quiz.id}" class="btn btn-jh-primary ml-2">Present</a>
            </div>
        </div>
    </div>
</main>
<div th:replace="layout :: scripts"></div>
</body>
</html>